<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

<!--  DataSource 작성(접속정보)  -->
	<bean name="datasource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="net.sf.log4jdbc.DriverSpy"/>
		<property name="url" value="jdbc:log4jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="C##WEB_USER"/>
		<property name="password" value="pass"/>
	</bean>
	
<!--  datasource 를 이용해서 DB 접속 및 사용 설정  -->
	<!--  name = 정해져있음, id = 내 맘대로 정함  -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="datasource"/>
		<!--  datasource 가져오기  -->
		<property name="mapperLocations" value="classpath:com/spring/dao/*.xml"/>
		<!--  쿼리문이 있는 장소를 지정  -->
		<property name="environment" value="classpath:/config/pool-config.xml"/>
		<property name="configLocation" value="classpath:/config/alias-config.xml"/> <!-- 풀 네임 줄여주는 설정 -->
	</bean>
	
	<!--  마이바티스를 별다른 코드 없이 사용할수 있도록 해 주는 설정  -->
	<mybatis-spring:scan base-package="com.spring.dao"/>

</beans>
